<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/common.css">
    <title>about</title>
</head>
<body>
    
            <!-- Side Navbar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <li><a href="install.html">Guide</a></li>
        <a href="contact.html">Contact</a>
        <a href="about.html">About</a>
        <a href="install.html">Guide</a>
        </div>   
    <div class="nav">
        <div class="nav-contents">
            <div class="nav-logo nav-content">
                <a href="/"><h1 class="logo-text">WatchIPTV</h1></a>

            </div>

            <div class="nav-menu nav-content">
                
                <ul class="nav-links">
                    <li> <a href="../index.html">Home</a> </li>
                    <li> <a href="contact.html">Contact</a> </li>
                    
                </ul>
                <a href="javascript:void(0)" onclick="openNav()">
                    <img class="menu-icon" src="../assets/images/icons8-menu-64.png" alt="Menu Icon">
                
                </a>
            </div>
            
        </div>

    </div>

    <section class="about-hero">
        <div class="about-hero-img">
            <img src="../assets/images/pagetitle-about.jpg" alt="Person holding a remote">

            <div class="about-hero-text">
                <h1>About Us</h1>
                <ul>
                    <li> <a href="../index.html">Home</a> </li>
                    <li> <a href="contact.html">Contact</a> </li>
                </ul>

            </div>

        </div>


    </section>

    <section class="about about-about">
        <div class="about-content">
            <div class="about-title">
                <h1>One of the Largest IPTV providers in the world</h1>
            </div>
            <ul class="about-nav">
                <li class="active" onclick="showContent('content1')">Who We Are</li>
                <li onclick="showContent('content2')">Our Mission</li>
                <li onclick="showContent('content3')">Our Vision</li>
            </ul>
    
            <div class="about-nav-content">
                <div id="content1" class="content active">
                    <!-- Content for Who We Are -->
                    <span>Welcome to <strong>WatchIPTV</strong>, the leading provider of top-notch WatchIPTV (Internet Protocol Television) subscriptions. Our mission is to transform your TV viewing experience by offering a vast array of channels from across the globe. With our dedication to delivering exceptional service and uninterrupted streaming, we guarantee that you'll never miss a moment of your favorite shows, movies, and sports. Join us today and take your entertainment to new heights with <strong>WatchIPTV</strong>.</span> <br>
                    <button class="contact-button"> Get in Touch <span class="cbc"></span></button>
                </div>
    
                <div id="content2" class="content">
                    <!-- Content for Our Mission -->
                    <span>At <strong>WatchIPTV</strong>, we are on a mission to revolutionize the television experience through our state-of-the-art IPTV subscriptions. Our aim is to provide you with a seamless streaming experience, offering a wide range of channels from around the world. We are dedicated to enhancing your entertainment journey by giving you access to the finest content at any time and from any location. With our unwavering commitment to quality and customer satisfaction, we strive to create an immersive and enjoyable TV viewing experience for all our valued customers.</span> <br>
                    <button class="contact-button"> Get in Touch <span class="cbc"></span></button>
                </div>
    
                <div id="content3" class="content">
                    <!-- Content for Our Vision -->
                    <p style="margin-bottom: 16px;"><span>At <strong>WatchIPTV</strong>, our mission is to be a leading global provider of IPTV subscriptions. We strive to offer convenient and high-quality access to a wide range of television content. With a customer-centric approach, we continuously innovate and expand our offerings to cater to diverse interests. Our commitment to excellence drives us to redefine the IPTV industry and set new standards in television entertainment.</span></p> <br>

                    <button class="contact-button"> Get in Touch <span class="cbc"></span></button>

                </div>
            </div>
        </div>
    
        <div class="about-image about-about-image-container">
            <img src="../assets/images/ambigous/about-us_01.png" alt="A lady smiling to her laptop" class="about-about-image">
        </div>
    </section>


    <section class="reviews">
        <div class="review-cards">
            <div class="review-card">
                <img src="../assets/images/icons8-like-50.png" alt="Like icon"> <br> 
                <h3>+ 10, 567</h3>
                <p>Positive Reviews</p>
            </div>
            <div class="review-card">
                <img src="../assets/images/icons8-stack-64.png" alt="queue icon"> <br> 
                <h3>+ 50</h3>
                <p>Orders In Queue</p>
            </div>
            <div class="review-card">
                <img src="../assets/images/icons8-check-mark-48.png" alt="queue icon"> <br> 
                <h3>600</h3>
                <p>Clients Served in 2022</p>
            </div>
            <div class="review-card">
                <img src="../assets/images/icons8-badge-64.png" alt="queue icon"> <br> 
                <h3>2019</h3>
                <p>This Year We started our Services</p>
            </div>
            </div>
        </div>
    </section>

    <section class="offer">
        <div class="offer-header">
            <h1>What we Offer <span class="red">.</span></h1>
            <p>Enjoy unlimited access to the Peacock streaming service from NBCUniversal. Kick back with full seasons of exclusive Originals, the Peacock mega-hit movie library.

            </p>
        </div>

        <div class="offer-cards">
            <div class="offer-card">
                <h1>Fast and Stable</h1>
                <p>we update our servers frequently to make sure you never experience any freeze issues</p>
            </div>
            <div class="offer-card">
                <h1>Tv & Streaming</h1>
                <p>We offer a package that have more than 24,000 channels. And the number of channels is increasing day by day</p>
            </div>
            <div class="offer-card">
                <h1>Works for All Devices</h1>
                <p>Our service is compatible with all devices: Smart TVs, Android and iOS devices, MAG, and ...</p>
            </div>
        </div>

    </section>

    <section class="about-slider">

        <img src="../assets/images/bein.png" alt="Bein logo">
        <img src="../assets/images/icons8-disney-128.png" alt="Disney + logo">
        <img src="../assets/images/netflix.png" alt="netflix logo">
        <img src="../assets/images/fox.png" alt="Fox Tv logo">
        <img src="../assets/images/icons8-amazon-prime-video-48.png" alt="Amazon Prime logo">
        
    </section>

    <section class="about-faq">
        <div class="about-faq-content">
            <div class="about-faq-content-header">
                <h1>FAQ <span class="red">.</span></h1>

            </div>

            <ul class="accordion">
                <li>
                    <input type="radio" name="accordion" id="first">
                    <label for="first">What do i need to benefit from an WatchIPTV Subscription</label>
                    <div class="content">
                        <span>To install and use IPTV, you need a high-speed internet connection and a Smart TV or other devices like Apple TV, Android Box, MAG, …</span>
                    </div>
                </li>
    
                <li>
                    <input type="radio" name="accordion" id="second">
                    <label for="second">What Is The Delivery Procedure For My WatchIPTVSubscription?</label>
                    <div class="content">
                        <span>The details of your subscription will be sent to the email address you mentioned in the payment form . The delivery of your subscription generally takes 12 hours maximum.</span>
                    </div>
                </li>
    
                <li>
                    <input type="radio" name="accordion" id="three">
                    <label for="three">Does My Subscription Start To Be Active Just After I Make A Payment?
                    </label>
                    <div class="content">
                        <span>The subscription begins to be active from the moment you receive your activation information in your email address</span>

                    </div>
                </li>
    
                <li>
                    <input type="radio" name="accordion" id="four">
                    <label for="four">How Can I Pay?</label>
                    <div class="content">
                        <span>Pay with your MPesa or contact Us Directly on whatsapp, we will agree for the plan you need,then we will send you an Mpesa address to make the payment , its Fast And Easy</span>
                    </div>
                </li>
    
                <li>
                    <input type="radio" name="accordion" id="five">
                    <label for="five">Can I Use My Subscription On Multiple Devices ?</label>
                    <div class="content">
                        <span>Yes you can use your connection on multi-device,However if you want this option just contact us</span>

                    </div>
                </li>

            </ul>

        </ul>
    </div>


    </section>





<script>
        function openNav() {
    console.log('clicked');
    document.getElementById("mySidenav").style.width = "80%";
  }
  
  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>



    <script>
        function showContent(contentId) {
            // Hide all content
            document.getElementById('content1').style.display = 'none';
            document.getElementById('content2').style.display = 'none';
            document.getElementById('content3').style.display = 'none';
            var aboutNavs = document.querySelectorAll('.about-nav');
            console.log(contentId);

    
            // Show the selected content
            document.getElementById(contentId).style.display = 'block';


    
            // Update the active tab
            document.querySelectorAll('.about-nav li').forEach(function (tab) {
                tab.classList.remove('active');
            });
    
            // document.querySelector(`.${contentId}`).classList.toggle('active');
        }
    </script>


<script>
    const pricingTabs = document.querySelectorAll('.connections');
    const aboutNavs = document.querySelectorAll('.about-nav li');


    pricingTabs.forEach(container =>{
        container.addEventListener('click', function(){
            container.classList.add('active');
        });
    });

    aboutNavs.forEach(container =>{
        container.addEventListener('click', function(){
            container.classList.add('active');
        });
    });
</script>
</body>
</html>